{% extends "./base.html" %} {% load static %} {% block content %}

<div class="site-section" id="blog-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-7 text-center mb-5 text-center">
        <h2 class="text-black text-uppercase section-title">
          Python And Django Framework For Beginners Complete Course
        </h2>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div>
          <a href="single.html" class="mb-4 d-block"
            ><img
              src="https://files.realpython.com/media/Get-Started-With-Django_Watermarked.15a1e05597bc.jpg"
              alt="Image"
              height="500"
              width="600"
              style="margin-left: 20%; margin-right: auto"
              class="img-fluid rounded"
          /></a>
          <h2>Introduction</h2>
          <p class="text-muted mb-3 text-uppercase small">
            <span class="mr-2">January 18, 2022</span> By
            <a href="single.html" class="by">Horizon Tech</a>
          </p>
          <p align="justify">
            We know that Python is a high level language and object oriented
            language. It is very much expressible and it is having a very easy
            syntax to write the code.So let us go for our detailed discussion on
            this overview of Python as it is coming next. Bite on coding can be
            done in three different ways. First one is the immediate mode. Next
            one is a script mode. And the last one using some integrated
            development environment that is IDC. So at first we are going to
            discuss why how we can do the coding in bite on in immediate mode.
            So here we are opening our command prompt. And we are going to the
            respective folder. That is our sequel loan users. This is a name and
            anaconda tree helping stole this anaconda. We have discussed that
            one in our other video that what are the steps we regret to install
            this anaconda? So far, this one will be degrading, despite onboard
            the ACSI. So despite on the DMZ, if we click, then this comment
            probably will open with this. That's pretty prompt. That is a triple
            Gregan symbol. So here you can write the code in the immediate mode
            to run our scripts. You can find this one. So we are writing this
            one print. Hello, World. <br /> <br/> 
            So in this week, we can go for this or a is equal to one hundred. B
            Ziegel to 200 C is equal to A plus B. And then we can go for Prince.
            Prince. So it is getting printed as he did. So it is a mode which is
            known as the immediate mode. That means we can also do the same
            using our common prompt here. So here we are having our command
            prompt. So I'm going for this. Users and this are not. Then I'll be
            going for this Anaconda three. We can't go for this anaconda tree
            here to it having our bite on so we can go for this. So a bite, the
            exit is there, we can run it. And we're going to get the same
            screen. What about body we had? So this is our this is known as the
            immediate mode. So typing Biton in the comment line will invoke the
            interpreter in the immediate mode, and you can directly type in
            Biton expressions and presenters to get the required output. And if
            the A and if the prior Biton prompt, it will tell us that
            interpreter is ready for our input. So liquid type some code here.
            So I'm going for this print. So one hundred plus two hundred, you
            can easily find it is calculating and giving me the outcome. So that
            is our immediate mode. Now, let me tell you that how to do the
            coding using the script mode. So for that purpose, we're just
            opening a notepad. For the Taiping. So here I am writing the code.
            There is a print. So we have type this code here and you are saving
            this one. And that is pretty for. There is Anaconda three and giving
            the name as Sprog one. Not by giving their name as sprog wandered
            by. So we are saving this one sprog wandered by user Vilem. Now we
            are coming back to about I'm getting back my prompter. So let me
            check with that. The file has got saved here or not. Is a file house
            gossip with a 41 bites here. So now we can execute this code using
            Python. So Biton will interpret this. This program. So we're going
            for this by on Brog one dog bite. You can see that the program is
            executing. So this is the this is a mode known as skip mode where we
            can type our code and this model be used to execute the Python
            program written in a file, and then we're executing it using Python
            and the file. You can get the output here. So there's a program we
            called. OK, and is it is because of output we are getting, there is
            another way to type the code. And that is our integrated development
            environment. <br/> <br/> So for that purpose, we are just invoking this
            anaconda. So Anaconda navigator. Zanta navigator, now here we're
            going for this. Jupiter, let me to open it in a browser. So here
            we're having so I shall go for this plus. So when I went for this
            bite on three. So you can find that this is our untitled dot, I.B..
            Why Inbee? So there is extension here. You can write the code. So
            print. We can execute it. Welcome to the world of programming. In
            this, we can go on execution. So you see it has opened into our
            Chrome browser. So on the default browser, this not bad will get
            opened. There is a Jupiter lab. So now we are going for this.
            Jupiter, not book. We tested that Jupiter lab now. We are going for
            this Jupiter notebook. So it beautiful. It is telling. Now we're
            going for a new bite country. So heroes we can type. You can go for
            the execution. In this way, also using this Jupiter, we can also go
            for this typing, so we tested the Jupiter Lab and Jupiter notebook.
            So, too is we have done nonet make we go for the spider. So we're
            using this part. So here you can see that assignments are coming. So
            there's a way in which you are typing and you can go for the
            execution. You can find that hello old and welcome is getting
            executed. <br/> <br/> So there is another way to execute the same. I know you
            can find that we can go for the Rantzen. So only this particular
            line. I'm just going for this and then I'm going with it until you
            see one of the Hellewell has got to execute it. So ladies welcome
            has got executed in this way so we can go for partial execution. Let
            us suppose we're having variables, say A is equal to one hundred and
            say B is equal to 200. Now we are going fourth, say C is equal to A
            plus B. And then we're going for this value of C is going to get
            printed. So. Some of. Is. So that is another way to type format. We
            shall be discussing all these things into details. If we go on
            executing, we can find that sort of sum of 100 and 200 is 300. But
            having a variable X Explorer here, you can see the value of A and B
            and C will be displayed. You can find that the value of A and B and
            C are getting displayed. So I'm just making this one up six 600,
            making this one as 500. So now if I go on executing, you can find
            that the values up what uprated. So there is an advantage of this.
            There's a spider also heroes. We can have the line-by-line
            execution. As I told you that if I Maqdis and if you go for Ansell,
            you were getting only these two lines are getting executed. So there
            is another fantastic way to execute this Python program. So as we
            discussed that Python is starting with one cross platform.
            Programming language, and it executes in Windows, Mac with Linux and
            Unix. And also it can be executed, ported to the job Hahndorf and
            virtual missions. I know it is. Python is available in some Unix and
            in Mac preinstalled, but in that case, obviously the versions might
            be the older one. <br/> <br/>A Python module is a collection of
            related classes and the functions where having the packages or
            package is a collection of related models and you'll be using
            multiple different packages in our current tutorial on Biton here.
            If you consider the features of Python, the python is very easy.
            That means very easy to learn and understand. It is interpreted so
            it is interpreted, executed line by line. So this makes it easy to
            test and debug. If we consider the respective object oriented, it
            supports the classes and objects. It is free and open source. So
            that is another design advantage for making the python so popular.
            So that is the language and its source code are available to the
            public for free. No need to buy a costly license. It is portable.
            That means we can run Python on Windows, Mac, Linux and other
            platform. As I discussed, Biton supples that you want programming.
            That means we can develop it. Yet you won't interface for our users
            and it is having a large library. That is one of the very important
            feature of Python. That is a python provides us with a large
            standard library and you can use them to implement a variety of
            functions on multiple different frameworks that are available in
            Python, where having they say Whipp to buy having no by having a
            pyramid, we are having Sibai, we are being D Jungle's or so many
            different frameworks that are available at this. Frameworks are
            required to develop our Softworks in multiple different applications
            for multiple different custodies. <br/> <br/> So that's why byte on is so useful
            and the common extension for Python file will be done by. So it is a
            common extension which you had in our notepad. You know that in our
            notepad we had that extension. That is a proc one dog bike. So it is
            a normal extension for a python source python. But having other
            extensions, that is spee. Why you see, that is a comp. bytecode
            would having be white D there is a Windows DL file where having be
            white, all that is a file created with optimizations. B white w
            there is a. On script for Windows B, Y, Z. There is a Python script
            archive. So the last question I want to discuss that. Why should we
            learn Python? Because using Python, we can go for developing a Web
            site, develop a game platform, computer vision. Do the machine
            learning. Because in our machine learning we're having despite on
            under our programming languages. And Python is one of the most
            popular language in our machine. Learning and artificial
            intelligence domain. Enable a robotics, enable robotics, perform
            whip scrapping. We're having parfum, get illnesses, automate a web
            browser, performing scripting, perform scientific competitions,
            build artificial intelligence oriented applications and so on. So
            that's why Biton is becoming so useful. And we are having multiple
            different constructs in bite on like our list. We are having
            troubles. We're having dictionaries where having common sense gokmen
            string and well-being cities. We are having the sets, we're having
            sequences and so on. So, so many things and we'll be covering all
            these different aspects of Python in a word tutorial. So please go
            through all the videos in the sequencing which they're updating in
            the tutorial. And this is our overview on Python tanks about
            watching this video.
          </p>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
