{% extends "./base.html" %}
{% block content %}
{% load static %}
<p style="height: 50px;"></p>
<div class="TN bzz aHS-YH" style="margin-left:0px">
    <div style="margin:auto; width:100%; text-align:center">
    <div class="qj qr"></div>
    <div class="aio UKr6le">
        <span class="nU false">
                <div style = "border:5px solid black; padding: 30px; margin:auto; width:70%">

            <a href="https://meet.google.com/new?hs=180&amp;authuser=0" target="_top" class="J-Ke n0" title="Start a meeting" aria-label="Start a meeting" draggable="false">
                    <img src="{% static 'assets/img/Google_Meet_icon.jpg' %}" style="height: 300px; width: 400px; margin-right:35px; ">

            Start a meeting</a></span>
    </div>
        </div>
        <div class="nL aif">
        </div>
    <p style="height: 50px;"></p>
    <div style = "border:5px solid black; padding: 30px; margin:auto; width:70%">
    <a href = 'https://calendar.google.com/calendar/u/0/r?tab=wc&pli=1' > 
        <img src="{% static 'assets/img/Google_Calendar_icon.jpg' %}" style="height: 300px; width: 380px; margin-right:35px; ">
    Google Calendar </a></div>
    </div>
    </div>
{% endblock %}