{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    #printpdf{
        margin-left:30px; 
        border: 5px;
    }
</style>



<div id = 'printpdf'>
    <h1>Valerie Luna</h1>
    <h3>vallune123@gmail.com</h3><h3>99209922333</h3>
    <br><br>
    <div id = "first-certificate">
        <h5>Course Name: React Course (Basics)</h5>
        <h5>Uploaded by : Sam Wilson</h5>
        <p>This course was to explain the basics of react and its installation. It also covers basic functions like states and props throughly</p>
    </div>
    <div id = "second-certificate">
        <h5>Course Name: Digital marketting</h5>
        <h5>Uploaded by : Stanford University</h5>
        <p>This course was to explain the fundamentals of digital marketting while also diving deeper into social media mangament and instagram marketting</p>
    </div>
</div>
{% endblock %}